/* General */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato';
    text-align: justify;
}

h1 {
    font-family: 'Indie Flower';
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Indie Flower';
    font-size: 30px;
    text-align: center;
}

strong {
    font-family: 'Indie Flower';
    font-size: 18px;
}

a {
    text-decoration: none !important;
}

/* Navbar */

#navbar-main {
    transition: background-color .2s linear;
    background-color: rgba(48, 52, 56, 0);
}

.logo {
    font-family: 'Indie Flower';
    font-size: 25px;
}

.navbar-toggler:focus {
    outline: none;
}

/* Jumbotron */

#home {
    background-image: linear-gradient(rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('../images/handshake.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 0px;
    
    display: flex;
    align-items: center;
    text-align: center;
}

#home-container {
    padding: 10% 0%;
}

#home-container>h1 {
    font-size: 80px;
    margin: 0px;
}

#github-cta {
    background-color: rgba(250, 250, 250, 1);
}

.social-icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
}

/* AmI steps */

.ami-icon {
    font-size: 50px;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.ami-title {
    display: inline;
    vertical-align: middle;
}

/* AmI features */

.ami-icon-small {
    font-size: 30px;
}

@media (min-width: 768px) {
    .feat-ml-0 {
        margin-left: 0%;
        margin-right: 5%;
    }
    .feat-ml-1 {
        margin-left: 1%;
        margin-right: 4%;
    }
    .feat-ml-2 {
        margin-left: 2%;
        margin-right: 3%;
    }
    .feat-ml-3 {
        margin-left: 3%;
        margin-right: 2%;
    }
    .feat-ml-4 {
        margin-left: 4%;
        margin-right: 1%;
    }
    .feat-ml-5 {
        margin-left: 5%;
        margin-right: 0%;
    }
}

/* Features */
#feat-pills-tab {
    font-family: 'Indie Flower';
    font-size: 18px;
}

@media (min-width: 1000px) { 
    .table-feat {
        max-width: 1000px;
        margin: auto;
    }
}

/* Architecture */

.arch-row{
    margin-top: 30px;
}

.arch-pic-container {
    max-width: 175px;
    margin: auto;
    text-align: center;
}

.arch-pic {
    border-radius: 100%;
    margin: 10px 0px;
}

@media (min-width: 768px) { 
    .arch-pic-big {
        max-width: 600px;
    }
}

.arch-pic-big {
    margin-bottom: 20px;
}

.card {
    border: none;
}

.card-header {
    padding: 0px;
    margin: 0px;
    background-color: white;
    border: none;
}

.card-body {
    padding: 0px;
    margin: 0px;
}

.btn-link {
    text-decoration: none !important;
}

/* Open issues */

.list-group-item{
    font-weight: bold;
 }

/* Team */

.team-pic-container {
    max-width: 175px;
    margin: auto;
    text-align: center;
}

.team-pic {
    border-radius: 100%;
    margin: 10px 0px;
}

/* Footer */

#footer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    text-decoration: none;
}
